<div class="my-3 shadow-lg dark:shadow-xl">
  <div class="px-4 py-4 rounded-lg dark:bg-slate-800">
    <p class="text-gray-700 text-base break-all dark:text-white">
      <%= text %>
    </p>
  </div>
</div>
